@font-face {
    font-family: "Playfair Display";
    src: url("./fonts/PlayfairDisplay-Regular.ttf");
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: rgb(255, 237, 248);
    font-family: "Playfair Display", serif;
}

/* SideBar Styles */
.sidebar {
    width: 25%;
    background-color: rgb(248, 224, 255);
}

/* Title Styles */
.main {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h1 {
    color: rgb(151, 79, 121);
    font-size: 2rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}


.description h2 {
    color: rgb(171, 90, 137); 
    font-size: 1.25rem;
    text-align: left;
}

/* Form Styles */
.form {
    background-color: rgb(255, 237, 248);
    padding: 30px;
    box-shadow: 0 5px 10px rgb(180, 146, 222);
}

.form h2 {
    color: rgb(151, 79, 121);
}

label {
    color: rgb(171, 90, 137);
    font-weight: bold;
}

.form-row {
    display: flex;
    gap: 300px;
    margin-bottom: 30px;
}

.form-row div {
    display: flex;
    flex-direction: column;
}
